# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.history
.DS_Store